<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pay-to-heading" jhiTranslate="primeCashManagerApp.payTo.home.createOrEditLabel">Create or edit a Pay To</h2>
            <div class="form-grid ui-fluid">
                <div class="p-field p-grid">
                    <ng-container *ngIf="editForm.get('id')!.value">
                    <label jhiTranslate="global.field.id" for="field_id" class="p-col-12 p-md-2">ID</label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText type="number" name="id" id="field_id" formControlName="id" readonly/>
                    </div>
                    </ng-container>
                </div>
                <div class="p-field p-grid">
                    <label jhiTranslate="primeCashManagerApp.payTo.name" for="field_name" class="p-col-12 p-md-2">Name</label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText type="text" name="name" id="field_name" formControlName="name"/>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label jhiTranslate="primeCashManagerApp.payTo.description" for="field_description" class="p-col-12 p-md-2">Description</label>
                    <div class="p-col-12 p-md-10">
                        <textarea pInputTextarea name="description" id="field_description"
                                  formControlName="description"></textarea>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label jhiTranslate="primeCashManagerApp.payTo.createdBy" for="field_createdBy" class="p-col-12 p-md-2">Created By</label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText type="text" name="createdBy" id="field_createdBy" formControlName="createdBy"/>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label jhiTranslate="primeCashManagerApp.payTo.createdOn" for="field_createdOn" class="p-col-12 p-md-2">Created On</label>
                    <div class="p-col-12 p-md-10">
                        <p-calendar id="field_createdOn" formControlName="createdOn" [showIcon]="true" [showTime]="true"></p-calendar>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label jhiTranslate="primeCashManagerApp.payTo.modifiedBy" for="field_modifiedBy" class="p-col-12 p-md-2">Modified By</label>
                    <div class="p-col-12 p-md-10">
                        <input pInputText type="text" name="modifiedBy" id="field_modifiedBy" formControlName="modifiedBy"/>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label jhiTranslate="primeCashManagerApp.payTo.modifiedOn" for="field_modifiedOn" class="p-col-12 p-md-2">Modified On</label>
                    <div class="p-col-12 p-md-10">
                        <p-calendar id="field_modifiedOn" formControlName="modifiedOn" [showIcon]="true" [showTime]="true"></p-calendar>
                    </div>
                </div>
            </div>

            <div>
                <button pButton type="button" id="cancel-save" icon="pi pi-ban" class="ui-button-secondary" (click)="previousState()" [label]="'entity.action.cancel' | translate"></button>
                <button pButton type="submit" id="save-entity" icon="pi pi-save" [disabled]="editForm.invalid || isSaving" [label]="'entity.action.save' | translate"></button>
            </div>
        </form>
    </div>
</div>
